.time-slot-management-weekly-pattern-add.button {
  background-color: #5b9909;
  background-image: linear-gradient(to bottom, #8BC34A, #5b9909);
}

.time-slot-management-weekly-pattern-reset.button {
  background-color: #ee0000;
  background-image: linear-gradient(to bottom, #ff6666, #ee0000);
}