table.time-slot-weekly-table {
    border-collapse: separate;
    border-spacing: 2px;
}
table.time-slot-weekly-table tr {
    border-bottom: none;
    background: #ffffff;
}

table.time-slot-weekly-table tr th {
    width: 13%;
}
table.time-slot-weekly-table tr th:first-child {
    width: 9%;
}

table.time-slot-weekly-table tr.time-slot-content-row {
    border-top: 1px solid #e6e4df;
}

table.time-slot-weekly-table td {
    padding: 0;
    border: none;
}

table.time-slot-weekly-table td.time-column {
    vertical-align: top;
}
table.time-slot-weekly-table tr.time-slot-row-empty td.time-column.minutes-of-hour {
    display: none;
}

table.time-slot-weekly-table .time-slot {
    padding: 2px;
    border: 2px solid transparent;
    text-align: center;
    height: 100%;
}

table.time-slot-weekly-table .time-slot .time-slot {
    padding: 0;
    border: 0;
    height: 100%;
}

table.time-slot-weekly-table .time-slot .time-slot h2 {
    margin: 0;
}

table.time-slot-weekly-table .time-slot-enabled {
    background-color: #8BC34A;
    border-color: #5b9909;
}
table.time-slot-weekly-table .time-slot-occupied {
    background-color: #0c97ed;
    border-color: #0000BB;
}
table.time-slot-weekly-table .time-slot-disabled {
    background-color: #ff6666;
    border-color: #ee0000;
}
table.time-slot-weekly-table .time-slot-blocked {
    background-color: #d33682;
    border-color: #C22571;
}