{#
/**
 * @file time_slot.html.twig
 * Default theme implementation to present Time slot data.
 *
 * This template is used when viewing Time slot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_time_slot()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass('time-slot') }}>
  {{ title_prefix }}
  {% if not page %}
    <h2 {{ title_attributes }}>
      {{ label }}
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if elements %}
    {{ elements }}
  {% endif %}
</div>
